.header {
  background-color: transparent;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.white {
  color: white !important;
  font-family: var(--paragraph-font-family) !important;
}

.black {
  color: black !important;
  font-family: var(--paragraph-font-family) !important;
}

.logo {
  width: 10%;
}

.lastNav {
  background-color: #fff;
  color: #000 !important;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.lastNav.black {
  background-color: #000;
}

.lastNav.black a {
  color: #fff !important;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 35%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 23%;
  }
}

@media only screen and (min-width: 1024px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
