.hero {
  background-image: url("/images/banner-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroContent {
  height: fit-content;
  display: flex;
  align-items: center;
  padding-top: 2%;
}

.tagline {
  font-size: 1.25rem !important;
  margin: 2rem 0;
}

.heroImg {
  position: relative;
  bottom: -3rem;
}

.heroImgContainer {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .heroImgContainer {
    display: none;
  }

  .heroContent {
    padding-top: 17%;
    padding-bottom: 6%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .title {
    font-size: 2.1rem !important;
  }

  .heroContent {
    padding-top: 12%;
  }

  .heroCTA {
    margin-bottom: 2rem;
  }

  .tagline {
    font-size: 1rem !important;
  }

  .heroImg {
    bottom: -2rem;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
  .title {
    font-size: 2.6rem !important;
  }

  .heroContent {
    padding-top: 12%;
  }

  .heroCTA {
    margin-bottom: 2rem;
  }

  .tagline {
    font-size: 1.125rem !important;
  }

  .heroImg {
    bottom: -2rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .title {
    font-size: 3rem !important;
  }
}

/* ------------------------------------------------------------------------------------------------------ */

.ourClientSection {
  margin-top: 3rem;
}

.clientBox {
  width: 13rem;
  margin: 0 2rem;
}

.ourClientTitle {
  font-size: 1.5rem !important;
  font-family: var(--paragraph-font-family) !important;
  color: #343887;
}

@media only screen and (max-width: 600px) {
  .clientBox {
    width: 10rem;
    margin: 0 1.5rem;
  }

  .ourClientSection {
    margin-top: 2rem;
  }
}

/* -------------------------------------------------------------------------------------- */

.gradientText {
  background: linear-gradient(
    to right,
    #081247,
    #005cd2
  ); /* Adjust colors as necessary */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statCardTitle {
  font-size: 4rem !important;
  font-weight: 700;
}

.statCard {
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.statKey {
  font-size: 0.875rem !important;
}

.statKey {
  color: #8b90a1;
}

/* -------------------------------------------------------------------------------------- */

.growSection {
  background-image: url(/images/banner-bg.svg);
}

/* -------------------------------------------------------------------------------------- */

.solutionTagline {
  font-size: 1.125rem !important;
  font-weight: 600;
}
